<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{cdn_base}}/static/base/main.css?v={{cache_buster}}">
    <link rel="stylesheet" type="text/css" href="{{cdn_base}}/static/base/pygment.css?v={{cache_buster}}">

    {% block metadata %}
    {% endblock %}
    {% include "components/headtags.html" ignore missing %}
  </head>
  <body>
    <!-- body content -->
    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-one-quarter is-one-fifth-widescreen">
            {% include "components/sidebar.html" %}
          </div>

          <!-- posts column -->
          <div class="column is-three-quarters is-three-fifths-widescreen">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </section>
    <!-- end of body content -->
    <footer class="footer columns is-centered">
      <div class="column is-full is-four-fifths-widescreen">
        {% include "components/footer.html" %}
      </div>
    </footer>
  </body>
</html>
