<div class="nav-header">
  <!-- <figure class="image is-128x128">
    <img class="is-rounded" src="http://placehold.it/200x200">
  </figure> -->
  <h3 class="title is-4"><a href="/">Johnathan Doe</a></h3>
  <h4 class="subtitle is-6"><i>@jdoecode</i></h4>
  <p>Hi 👋🏼I'm Human, a software engineer. I write content about Technology, software, and other things that are interesting.</p>
  <aside>
    <span class="icon">
      <a href="/"><i class="fab fa-github"></i></a>
    </span>
    <span class="icon">
      <a href="/"><i class="fab fa-twitter"></i></a>
    </span>
    <span class="icon">
      <a href="/"><i class="fas fa-rss"></i></a>
    </span>
  </aside>
</div>
<hr/>
<!-- navigation -->
<nav class="menu columns is-multiline is-mobile is-centered">
  <a href="/" class="menu-label column is-narrow-mobile is-full-tablet is-marginless">
    Home
  </a>
  <a href="/about" class="menu-label column is-narrow-mobile is-full-tablet is-marginless">
    About
  </a>
</nav>
<hr />
