<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{cdn_base}}/static/base/main.css?v={{cache_buster}}">
    <link rel="stylesheet" type="text/css" href="{{cdn_base}}/static/base/pygment.css?v={{cache_buster}}">

    {% block head %}{% endblock %}
  </head>
  <body>
    <!-- body content -->
    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-one-quarter is-one-fifth-widescreen">
            <div class="nav-header">
              <!-- <figure class="image is-128x128">
                <img class="is-rounded" src="http://placehold.it/200x200">
              </figure> -->
              <h3 class="title is-4"><a href="/">Johnathan Doe</a></h3>
              <h4 class="subtitle is-6"><i>@jdoecode</i></h4>
              <p>Hi 👋🏼I'm Human, a software engineer. I write content about Technology, software, and other things that are interesting.</p>
              <aside>
                <span class="icon">
                  <a href="/"><i class="fab fa-github"></i></a>
                </span>
                <span class="icon">
                  <a href="/"><i class="fab fa-twitter"></i></a>
                </span>
                <span class="icon">
                  <a href="/"><i class="fas fa-rss"></i></a>
                </span>
              </aside>
            </div>
            <hr/>
            <!-- navigation -->
            <nav class="menu columns is-multiline is-mobile is-centered">
              <a href="/" class="menu-label column is-narrow-mobile is-full-tablet is-marginless">
                Home
              </a>
              <a href="/about" class="menu-label column is-narrow-mobile is-full-tablet is-marginless">
                About
              </a>
            </nav>
            <hr />
          </div>

          <!-- posts column -->
          <div class="column is-three-quarters is-three-fifths-widescreen">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </section>
    <!-- end of body content -->
    <footer class="footer columns is-centered">
      <div class="column is-full is-four-fifths-widescreen">
        <div class="level ">
          <div class="content level-left">
            <small class="level-item">© Johnathan Doe 2019</small>
          </div>

          <div class="content level-right">
            <small class="level-item">
              Made with&nbsp;<strong><a href="https://github.com/rsyvarth/tsu">Tsu</a></strong>
            </small>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
