{% extends "components/base.html" %}
{% block title %}Unsubscribe{% endblock %}
{% block content %}
  <div class="content">
    {% if message is defined %}
      <div class="notification is-success is-light">{{message}}</div>
    {% endif %}
    {% if error is defined %}
      <div class="notification is-danger is-light">{{error}}</div>
    {% endif %}
    <p>Click below to unsubscribe from our mailing list.</p>

    <div class="columns is-centered">
      <div class="column is-half">
        <form method="POST" action="/unsubscribe">
          <div class="field has-addons">

            <p class="control is-expanded has-icons-left">
              <input class="input" type="email" name="email" value="{{email}}" placeholder="Enter your email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>

            <div class="control">
              <input type="submit" class="button is-primary" value="Unsubscribe">
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
{% endblock %}
