{% extends "components/base.html" %}
{% block title %}{{post['title']}}{% endblock %}
{% block metadata %}
  <meta name="twitter:card" content="summary" />
  <!-- <meta name="twitter:creator" content="@yournamehere" /> -->
  <meta property="og:url" content="{{cdn_base}}/post/{{post['id']}}" />
  <meta property="og:title" content="{{post['title']}}" />
  <meta property="og:description" content="{{post['preview']}}" />
{% endblock %}
{% block content %}
  <div class="post-wrapper">
    <div class="level">
      <div class="level-left">
        <h1 class="title is-4 level-item">
          {{post['title']}}
        </h1>
      </div>
      <div class="level-right">
        <span class="tag level-item">{{post['category']}}</span>
        <small class="level-item">{{post['created_at'].strftime("%b %d %Y")}}</small>
      </div>
      <!-- <small><i>Posted in <a href="category.html">Web Design</a> on <a href="post.html"></a> by <a href="category.html">{{post['created_by']}}</a></i></small> -->
    </div>
    <div class="content">
      {{post['body']}}
      <p><a href="/">← Back Home</a></p>
    </div>
  </div>
{% endblock %}
