<div class="nav-header columns is-centered">
  <h3 class="title is-4 column is-narrow has-text-centered"><a href="/">{{title}}</a></h3>
</div>
<!-- navigation -->
<nav class="menu columns is-multiline is-mobile is-centered">
  <a href="/" class="menu-label column is-narrow is-marginless">
    Home
  </a>
  <a href="/about" class="menu-label column is-narrow is-marginless">
    About
  </a>
  <a href="/subscribe" class="menu-label column is-narrow is-marginless">
    Subscribe
  </a>
</nav>
<hr />
